section {
  max-width: 3333px;
  margin: 0 auto;
  min-width: 390px;
  min-height: 800px;
  white-space: nowrap;
}
.board-section {
  min-height: 800px;
  min-width: 390px;
  white-space: nowrap;
  color: #362222;
  letter-spacing: 0.3rem;
  margin-bottom: 50px;
}
.board-container {
  margin: 10px auto;
}

.board-category {
  text-align: center;
}
.board-category li {
  margin: 10px auto;
  font-size: 20px;
  letter-spacing: 0.1rem;
}

.board-category span {
  margin-left: 10px;
}

/* 너비가 510이하이라면 */
@media (max-width: 768px) {
  .board-category li {
    font-size: 15px;
  }
}

.list-group {
  margin: 20px auto;
}
.list-group a {
  border-radius: 10px;
}

.board-category li:hover {
  font-size: 23px;
  color: #b85c38;
}
.store-info-container li h4 {
  font-weight: 800;
  color: #362222;
}

.store-info-container li div small {
  font-weight: 800;
  color: #b85c38;
}

.store-info-container li span {
  font-weight: 600;
  color: #362222;
  letter-spacing: 0.1rem;
}
.keyword-input {
  margin-top: 10px;
}
.form-container {
  display: grid;
  width: 100%;
  height: 20px;
  grid-template-columns: 1fr 0.2fr;
}
.search-button {
  margin-top: 10px;
  margin-left: 38px;
  width: 80px;
  height: 38px;
}
.write-form {
  width: 100%;
}
.write-button {
  margin-top: 40px;
  float: right;
}
