.footer-container {
  display: flex;
  height: 100px;
  justify-content: space-around;
  bottom: 0;
  padding: 20px;
}
.footer-social-icons li i {
  color: #2d2424;
}

.footer-social-icons li i:hover {
  color: #b85c38;
  font-size: 60px;
}
