<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head th:replace="layout/head :: headFragment"> </head>

	<th:block layout:fragment="customCss">
		<!-- 이 안에 개별적인 CSS 넣으면 됨. 타이틀도. -->
	<title>boardPage</title>
	<style>
		a {
			text-decoration: none;
			border-color: white;
		}
		
		.list-group-item {
			border-color: white;
		}
	</style>
</th:block>

<body>

	<!-- 헤더 페이지 불러오기 -->
	<div th:replace="layout/header :: header"></div>

	<!-- [content] 영역 시작, 아래 태그 지우고 이 자리 채우면 됨. -->
	<section style="border-color: rgb(255, 255, 255);">
		<div class="container-fluid" style="border-color: rgb(255, 255, 255);">
			<div class="row py-1 py-md-5"
				style="border-color: rgb(255, 255, 255);">
				<div class="col-12 col-sm-3"
					style="border-color: rgb(255, 255, 255);">
					<div
						class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 text-white">
						<ul id="menu-1"
							class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 my-3 mb-sm-auto justify-content-center align-items-center align-items-sm-start w-100">
							<li class="w-100"><a class="px-2 nav-link px-sm-0 ps-2"
								th:href="@{/board/hotPage}"><i
									class="fas fa-fire bi-speedometer2 fs-5 ms-2"></i><span
									class="ms-1 d-none d-sm-inline">술집랭킹</span></a></li>
							<li class="w-100"><a class="px-1 nav-link px-sm-0 ps-2"
								th:href="@{/board/recommendStore}"><i
									class="fas fa-utensils bi-bootstrap fs-5 ms-2"></i><span
									class="ms-1 d-none d-sm-inline">술집추천</span></a></li>
							<li class="w-100"><a class="px-2 nav-link px-sm-0 ps-2"
								th:href="@{/board/serviceCenter}"><i
									class="fa fa-group bi-people fs-5 ms-2"></i><span
									class="ms-1 d-none d-sm-inline">고객센터</span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-12 col-sm-9 col-sm-9"
					style="border-color: rgb(255, 255, 255);">
					<!-- 게시판 카테고리 -->
					<h4 class="display-6" style="font-size: 33px;" th:text="${board.boardCategory}">게시판 카테고리</h4>
					<hr>
					<!-- 글 제목 -->
					<h2 style="font-size: 30px;" th:text="${board.boardTitle}">게시글 제목</h2>
					<h5 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-start justify-content-sm-start justify-content-md-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start">
						<span class="d-md-flex align-items-md-center" style="margin-right: 5px;font-size: 15px;" th:text="${board.user.userName}"></span>
						<span class="d-md-flex align-items-md-center" style="margin-right: 5px;margin-left: 5px;font-size: 15px;" th:text="${#temporals.format(board.boardDate, 'yy-MM-dd HH:mm:ss')}"></span>
					</h5>
					<h5 class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end">
						<a class="d-flex justify-content-center" onclick="checkLikeOrNot()" th:href="@{/board/likeCount(boardId=${board.boardId})}"><i class="fa fa-thumbs-o-up" style="margin-right: 5px; margin-left: 5px;"></i>
						<span class="d-md-flex align-items-md-center" style="margin-right: 5px; margin-left: 5px; font-size: 15px;" th:text="${board.boardLikeCount}">좋아요</span></a>
						<i class="fa fa-comment-o" style="margin-right: 5px; margin-left: 5px;"></i>
						<span class="d-md-flex align-items-md-center" style="margin-right: 5px; margin-left: 5px; font-size: 15px;" th:text="${board.reply.size}">댓글수</span>
					</h5>
					<!-- 게시글 내용 -->
					<p th:text="${board.boardContent}">게시글 내용</p>
					<div th:if="${session.user.userId} == ${board.user.userId}" class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
						<a th:href="@{/board/updatePage(boardId=${board.boardId})}">
							<button class="btn btn-primary d-xxl-flex" type="button" style="margin-right: 5px;margin-left: 5px;">수정</button>
						</a>
						<a th:href="@{/board/delete(boardId=${board.boardId})}">
							<button class="btn btn-primary d-xxl-flex" type="button" style="margin-left: 5px;">삭제</button>
						</a>
					</div>
					
					
					
					<h4 style="font-size: 22px;">Leave a Comment:</h4>
					<!-- 댓글 작성 -->
					<form role="form" method="POST" action="/board/insertReply">
						<!-- hidden 영역 -->
						<input type="hidden" name="userId" th:value="${session.user.userId}">
						<input type="hidden" name="boardId" th:value="${board.boardId}">

						<!-- 입력 영역 -->
						<div class="form-group">
							<textarea class="form-control form-control" rows="3" required style="font-size: 16px;" name="replyContent" placeholder="댓글을 작성하세요"></textarea>
						</div>
						<div class="d-flex d-md-flex justify-content-end justify-content-md-end">
							<button class="btn btn-primary d-sm-flex btn btn-success" type="submit" style="margin: 5px; margin-right: 0px;" name="insert">Submit</button>
						</div>
					</form>
					<!-- 댓글 목록 -->
					<p>
						<span class="badge bg-secondary" th:text="${board.reply.size}"></span>
						<span class="ms-2" style="font-size: 15px;">Comments</span>
					</p>
					<div class="row d-md-flex justify-content-md-center row" style="border-color: rgb(255, 255, 255);">
						<div th:each="reply:${board.reply}">
							<form method="POST" action="/board/replyEdit">
								<input type="hidden" name="boardId" th:value="${board.boardId}">
								<input type="hidden" name="replyId" th:value="${reply.replyId}">
								<div class="col-9 col-md-10" style="width: 100%;">
									<!-- 댓글 작성자 -->
									<h4 style="font-size: 22px;" th:text="${reply.user.userName}">댓글 작성자</h4>
									<!-- 댓글 작성 날짜 -->
									<span class="font-monospace d-md-flex justify-content-md-end align-items-md-end small" style="font-size: 15px; color: black;" th:text="${#temporals.format(reply.replyDate, 'yy-MM-dd HH:mm:ss')}">작성 날짜</span>
									<!-- 댓글 내용 -->
									<p style="font-size: 16px;" th:text="${reply.replyContent}">댓글 내용</p>
									<div th:if="${session.user.userId} == ${reply.user.userId}" class="d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex d-xxl-flex justify-content-end justify-content-sm-end justify-content-md-end justify-content-lg-end justify-content-xl-end justify-content-xxl-end">
										<button class="btn btn-primary d-flex d-xxl-flex justify-content-center align-items-center" type="submit" style="margin-left: 5px;width: 60px;height: 30px;font-size: 13px;" formaction="/board/deleteReply">삭제</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- [content] 영역 끝 -->

	<!-- 푸터 페이지 불러오기 -->
		<footer th:replace="layout/footer :: footer"></footer>

		<!-- 스크립트 -->
		<div th:replace="layout/script :: scriptFragment"></div>
		<th:block layout:fragment="customJS">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			<script type="text/javascript">
				var like = false;
				function checkLikeOrNot(params) {
					like = !like;
					console.log(like);
					console.log(params);
					$.ajax({
						url:"/board/likeCount",
						data: {like: like},
						method: "get",
						dataType: "json"
					}).done(function(json) {
						alert("성공");
					}).fail(function(params) {
						alert("실패");
					})
				}
			</script>
		</th:block>
	</body>
</html>