<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- css 파일 링크 -->
<head th:replace="css/css :: css">

<body>

	<!-- 헤더 페이지 불러오기 -->
	<div th:replace="/layout/header.html :: header"></div>
	
	<form class="search-form">
        <div class="input-group"><span class="input-group-text"><i class="fa fa-search"></i></span><input class="form-control" type="text" placeholder="I am looking for.."><button class="btn btn-light" type="button">Search </button></div>
    </form>
    <section class="article-list">
        <div class="container">
            <div class="row articles" >
            	<!-- 리스트 불러오기 반복문 -->
	            <th:block th:each="storeList : ${storeList}">
	            	<!-- 리스트 정보 표시 -->
	                <div class="col-sm-6 col-md-4 item"><a href="#">
	                	<img class="img-fluid" src="assets/img/desk.jpg"></a>
	                    <h3 class="name" th:text="${storeList.storeName}" ></h3>
	                    <div th:text="${storeList.storeCategory}"></div>
	                    <div th:text="${storeList.storeTag}"></div>
	                    <div th:text="${storeList.storeRoadAddr}"></div>
	                </div>
	            </th:block>
            </div>
        </div>
    </section>
   
	<div id="pagination">
		<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
			<a th:if="${page != nowPage}" th:href="@{/storeList(page=${page-1}, keyword=${keyword})}" th:text="${page}"></a>
			<a th:if="${page == nowPage}" th:text="${page}"></a>
		</th:block>
	</div>
	
	
		
	<!-- 
    <nav>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
	</nav>
 	-->

     
    <!-- 푸터 페이지 불러오기 -->
    <footer th:replace="/layout/footer.html :: footer"></footer>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>