<!DOCTYPE html>
<html
	lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
	<head th:replace="layout/head :: headFragment"> </head>
	<!-- 이 안에 개별적인 CSS 넣으면 됨. 타이틀도. -->
</head>
	<th:block layout:fragment="customCss">
		<!-- 이 안에 개별적인 CSS 넣으면 됨. 타이틀도. -->
	</th:block>

	<body>
		<!-- 헤더 페이지 불러오기 -->
		<div th:replace="layout/header :: header"></div>

		<!-- [content] 영역 시작, 아래 태그 지우고 이 자리 채우면 됨. -->
		<th:block layout:fragment="content"></th:block>
		<!-- [content] 영역 끝 -->

		<!-- 푸터 페이지 불러오기 -->
		<footer th:replace="layout/footer :: footer"></footer>

		<!-- 스크립트 -->
		<div th:replace="layout/script :: scriptFragment">
			<!-- 이 안에 개별적인 js 넣으면 됨. -->
		</div>
	</body>
</html>
