<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
	<footer th:fragment="footer" class="footer-basic, footer-container" >
		<ul class="list-inline, footer-social-icons">
			<li class="list-inline-item"><a th:href="@{/index}"><i class="fa-solid fa-house"></i></a></li>
			<li class="list-inline-item"><a th:href="@{/storeList}"><i class="fa-solid fa-list"></i></a></li>
			<li class="list-inline-item"><a th:href="@{/footer3}"><i class="fa-solid fa-bolt"></i></a></li>
			<li class="list-inline-item"><a th:href="@{/map}"><i class="fa-solid fa-location-dot"></i></a></li>
		</ul>
	</footer>
</body>
</html>