<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
</script>
	<footer th:fragment="footer" class="footer-basic, footer-container" >
		<ul class="list-inline, footer-social-icons">
			<li class="list-inline-item"><a th:href="@{/index}"><i class="fa-solid fa-house"></i></a></li>
			<li class="list-inline-item"><a onClick="toList()"><i class="fa-solid fa-list"></i></a></li>
			<li class="list-inline-item"><a onClick="toChat()"><i class="fa-solid fa-bolt"></i></a></li>
			<li class="list-inline-item"><a th:href="@{/map}"><i class="fa-solid fa-location-dot"></i></a></li>
		</ul>
	</footer>
</body>
</html>
