<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div th:fragment="main" class="main-container">
      <div class="row">
        <div class="col">
          <!-- 배너 슬라이드 시작 -->
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img th:src="@{assets/img/banner/mainBanner03.png}" class="slider-box " alt="banner1" />
              </div>
              <div class="carousel-item">
                <img th:src="@{assets/img/banner/mainBanner01.png}" class="slider-box " alt="banner2" />
              </div>
              <div class="carousel-item">
                <img th:src="@{assets/img/banner/mainBanner02.png}" class="slider-box " alt="banner3" />
              </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">이전</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">다음</span>
            </button>
          </div>
          <!-- 배너 슬라이드 끝 -->
        </div>
      </div>

      <div class="row main-menu-container default-background main-icon-container">
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-burger" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-champagne-glasses" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-pizza-slice" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-beer-mug-empty" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-hotdog" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-utensils" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-fish" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
        <div class="col-3 col-md-1 social-icons">
          <a href="#" style="padding: 0px"><i class="fa-solid fa-cheese" style="margin-bottom: 10px; margin-top: 10px"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <section class="photo-gallery">
            <div class="container">
              <div class="intro">
                <h2 class="text-center">술집 추천 리스트</h2>
                <ul th:each="store, stat : ${storePage}" class="storeListClass">
                  <a th:href="@{/detail (id=${store.storeCode})}">
                    <li class="item">
                      <span class="markerbg marker_숫자값"></span>
                      <div class="info">
                        <h5 th:text="${store.storeName}"></h5>
                        <small th:text="${store.storeCategory}"></small> <br />
                        <span th:text="${store.storeAddr}"></span><br />
                        <div th:if="${!#strings.equals(store.storeTel, '')}"><small th:text="${store.storeTel}"></small><br /></div>
                        <div th:each="eachStoreTag : ${#strings.arraySplit(store.storeTag, ',')}" style="display: inline-block">
                          <span>#</span>
                          <span th:text="${eachStoreTag}"></span>
                        </div>
                      </div>
                    </li>
                  </a>
                </ul>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script th:inline="javascript">
      var storePage = [[${storePage}]];
      var storeList = [[${storeList}]];
      var storeAll = [[${storeAll}]]
    </script>
  </body>
</html>
