<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>
<body>
	<div th:fragment="main">
		<div class="row">
			<div class="col">
				<div class="simple-slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide"
								style="background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center/cover no-repeat;"></div>
							<div class="swiper-slide"
								style="background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center/cover no-repeat;"></div>
							<div class="swiper-slide"
								style="background: url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center center/cover no-repeat;"></div>
						</div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
		</div>
		
	<div class="row main-menu-container">
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-burger" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-champagne-glasses" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-pizza-slice" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-beer-mug-empty" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-hotdog" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-utensils" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-fish" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
			<div class="col-3 col-md-1 social-icons">
				<a href="#" style="padding: 0px;"><i class="fa-solid fa-cheese" style="margin-bottom: 10px; margin-top: 10px;"></i></a>
			</div>
		</div>	
		<div class="row">
			<div class="col">
				<section class="photo-gallery">
					<div class="container">
						<div class="intro">
							<h2 class="text-center">술집 추천 리스트</h2>
							<ul th:each="store, stat : ${storePage}">
								<li class="item">
									<span class="markerbg marker_숫자값"></span>
									<div class="info">
										<h5 th:text="${store.storeName}"></h5>
										<small th:text="${store.storeCategory}"></small> <br>
										<span th:text="${store.storeAddr}"></span><br>
										<div th:if="${!#strings.equals(store.storeTel, '')}">
											<small th:text="${store.storeTel}"></small><br>
										</div>
										<div th:each="eachStoreTag : ${#strings.arraySplit(store.storeTag, ',')}" style="display: inline-block">
											<span>#</span>
											<span th:text="${eachStoreTag}"></span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<section class="photo-gallery">
					<div class="container">
						<div class="intro">
							<h2 class="text-center">즐겨찾는 게시판</h2>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<section class="photo-gallery">
					<div class="container">
						<div class="intro">
							<h2 class="text-center">채팅(일단)</h2>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		var storePage = [[${storePage}]];
		var storeList = [[${storeList}]];
		var storeAll = [[${storeAll}]]
	</script>
</body>
</html>