<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- css 파일 링크 -->
<head th:replace="css/css :: css">

<body>
<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script type="text/javascript">
	function toListByRate(){
		// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
		if (navigator.geolocation) {
		    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
		    navigator.geolocation.getCurrentPosition(function(position) { 
	        var lat = position.coords.latitude, // 위도
	            lon = position.coords.longitude; // 경도  
	            
	         // 위도, 경도를 Map<String, String> 형식으로 저장
	    	var params = {
    			"lat" : lat,
    			"lon" : lon 
	   		}
	         
	    	console.log(params.lat);
	        console.log(params.lon);
	        
	        document.location.href = "/storeListByRate?lat="+lat+"&lon="+lon;

		});
		} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
			alert("geolocation error");
		}	
	};
</script>
<script type="text/javascript">
	function toList(){
		// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
		if (navigator.geolocation) {
		    // GeoLocation을 이용해서 접속 위치를 얻어옵니다
		    navigator.geolocation.getCurrentPosition(function(position) { 
	        var lat = position.coords.latitude, // 위도
	            lon = position.coords.longitude; // 경도  
	            
	         // 위도, 경도를 Map<String, String> 형식으로 저장
	    	var params = {
	   			"lat" : lat,
	   			"lon" : lon 
	   		}
	         
	    	console.log(params.lat);
	        console.log(params.lon);
	      
	        document.location.href = "/storeList?lat="+lat+"&lon="+lon;
		});
		} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
			alert("geolocation error");
		}	
	};
</script>

<!-- 네비게이션  고정 -->
<script>
	var checkMenu = () => {
		//console.log(yOffset)
		if (yOffset > 0) {
			document.body.classList.add('nav-sticky');
		} else {
			document.body.classList.remove('nav-sticky');
		}
	};
	window.addEventListener('scroll', () => {
	   yOffset = window.pageYOffset;
	   checkMenu();
	})

	// 검색버튼 on/off
	function openCloseSearch() {
		if(document.getElementById('nav-search-input').style.display === 'block') {
			document.getElementById('nav-search-input').style.display = 'none';
		} else {
			document.getElementById('nav-search-input').style.display = 'block';
		}
	}

</script>
	<!-- 헤더 페이지 불러오기 -->
	<div th:replace="/layout/header.html :: header"></div>
    <section class="article-list">
        <div class="container">
        	<div class="sorting-container">
				<spqn>정렬방법&nbsp;&nbsp;&nbsp;| </spqn>
				<a class="" onClick="toListByRate()">평점 순서</a>
  				<a class="" onClick="toList()">가까운 순서</a>
			</div>
            <div class="row articles" >
            	<!-- 리스트 불러오기 반복문 -->
	            <th:block th:each="storeList : ${storePage}">
	            	<!-- 리스트 정보 표시 -->
	                <div class="col-sm-6 col-md-4 item">
	                	<div class="card-container">
							<div class="card">
			                	<a th:href="@{/detail (id=${storeList.storeCode})}">
				                	<img class="img-fluid" th:src="'assets/img/storeImg/' + ${storeList.storeName} + '/' + ${storeList.storeCode} + '_1.png/'" />
				                	<div class="card-body">
										<h5 class="card-title" th:text="${storeList.storeName}"></h5>
										<p class="card-text"th:text="${storeList.review.size} + ' 개의 리뷰'" ></p>
										<p class="card-text"th:text="${storeList.storeCategory}"></p>
										<p class="card-text"th:text="${storeList.storeRoadAddr}"></p>
										<span class="star">★</span>
										<span class="card-text rate"th:text="${storeList.storeStaravg}"></span>
				                    </div>
				            	</a>
	                		</div>
						</div>
	                </div>
	            </th:block>  
            </div>
            <nav class="d-flex justify-content-center">
	            <ul class="pagination" th:with="startNumber=${T(java.lang.Math).floor(currentPage/10)}*10+1, endNumber=(${totalPages} > ${startNumber}+9) ? ${startNumber}+9 : ${totalPages}">
	                <li th:style="${currentPage} == 0 ? 'display:none'" class="page-item">
		                <a class="page-link" th:href="@{/storeListByReview(page=0, lat=${latlon['lat']}, lon=${latlon['lon']})}" aria-label="First">
		                	<span aria-hidden="true">처음으로</span>
						</a>
					</li>
	                 <li th:style="${currentPage} == 0 ? 'display:none'" class="page-item">
	                    <a class="page-link" th:href="@{/storeListByReview(page=${currentPage} - 1, lat=${latlon['lat']}, lon=${latlon['lon']})}" aria-label="Previous">
	                    	<span aria-hidden="true">&gt;</span>
	                    </a>
	                </li>
	                <li th:each="page :${#numbers.sequence(startNumber, endNumber)}" th:class="(${page} == ${currentPage} + 1) ? 'active'" class="page-item">
	                    <a class="page-link" th:href="@{/storeListByReview(page=${page} - 1, lat=${latlon['lat']}, lon=${latlon['lon']})}" th:text="${page}">
	                    	<span class="sr-only"></span>
	                    </a>
	                </li>
	                <li th:style="${currentPage} == ${totalPages} - 1 ? 'display:none'" class="page-item">
	                    <a class="page-link" th:href="@{/storeListByReview(page=${currentPage} + 1, lat=${latlon['lat']}, lon=${latlon['lon']})}" aria-label="Next">
	                    	<span aria-hidden="true">&gt;</span>
	                    </a>
	                </li>
	                <li th:style="${currentPage} == ${totalPages} - 1 ? 'display:none'" class="page-item">
		                <a class="page-link" th:href="@{/storeListByReview(page=${totalPages} - 1, lat=${latlon['lat']}, lon=${latlon['lon']})}" aria-label="Last">
		                	<span aria-hidden="true">마지막으로</span>
						</a>
					</li>
	            </ul>
       		</nav>
        </div>
    </section>	

    <!-- 푸터 페이지 불러오기 -->
    <footer th:replace="/layout/footer.html :: footer"></footer>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>

<script th:inline="javascript">
	var infoList = [[${infoList}]];
	console.log(infoList);

	$(document).ready(function(){
		// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
		if (navigator.geolocation) {
		    //GeoLocation을 이용해서 접속 위치를 얻어옵니다
		    navigator.geolocation.getCurrentPosition(function(position) { 
	        var lat = position.coords.latitude, // 위도
	            lon = position.coords.longitude; // 경도  
	            
	         // 위도, 경도를 Map<String, String> 형식으로 저장
        	var params = {
        			"lat" : lat,
        			"lon" : lon 
       		}
        	console.log(params.lat);
            console.log(params.lon);
            
        	$.ajax({
        		type: "get",   //get방식으로 명시
        		url : "/storeList",  //이동할 jsp 파일 주소
        		data : params
        	})
		});
		    
		} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
			alert("geolocation error");
		}	
    });
</script>
</body>
</html>