<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/head :: headFragment"></head>

<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<!-- 헤더 페이지 불러오기 -->
		<div th:replace="layout/header :: header"></div>
<div id="main-content" class="blog-page">
        <div class="container">
            <div class="col-md-12 left-box">
                <div class="card single_post">
                    <div class="body">
                        <div class="img-post">
                            <!-- 이미지 넣을 곳-->
                            <div class="row">
                                <!-- 내부를 block 요소로 묶고 몇개의 컬럼으로 구성할 것인지를 결정 -->
                                <div class="box col">
                                    <img style="width: 100%;height:90%;" src="assets/img/img01.jpg"/>
                                </div>
                                <div class="box col">
                                    <img style="width: 100%;height:90%;" src="assets/img/img02.jpg"/>
                                </div>
                                <div class="box col">
                                    <img style="width: 100%;height:90%;" src="assets/img/img03.jpg"/>
                                </div>
                            </div>
                        </div>
                        <!-- 가게 정보 -->                       
                        <h7 th:text="${storeDetail.storeCategory}"></h7>
                        <h1 th:text="${storeDetail.storeName}"></h1>
                        <h5 th:text="${storeDetail.storeRoadAddr}"></h5>
						<h5 th:text="${storeDetail.storeTel}"></h5>
						<h5 th:text="${storeDetail.storeTag}"></h5>
                    </div>                        
                </div>
	        <div id="map" style="width: 100%; height: 500px; position: relative; overflow: hidden;">
	   		</div>
                
                
           <!-- 댓글 작성 -->
           <form role="form" method="POST" action="/reviewInsert">
               <!-- hidden 영역 -->
               <input type="hidden" name="userId" th:value="${session.user.userId}"> 
               <input type="hidden" name="reviewUser" value="${session.user.userName">
               <input type="hidden" name="storeCode" th:value="${storeDetail.storeCode}">
               <input type="hidden" name="reviewStar" th:value='5'>
               <!-- 입력 영역 --> 
               <div class="form-group">
                   <textarea class="form-control form-control" rows="3" required style="font-size: 16px;" name="reviewContent">value here</textarea>
               </div>
               <div class="d-flex d-md-flex justify-content-end justify-content-md-end">
                   <button class="btn btn-primary d-sm-flex btn btn-success" type="submit" style="margin: 5px; margin-right: 0px;" name="insert">Submit</button>
               </div>
           </form>
           
			<!-- 댓글 목록 -->
           <p>
               <span class="badge bg-secondary" th:text="${storeDetail.review.size}"></span>
               <span class="ms-2" style="font-size: 15px;">Comments</span>
           </p>
           <div class="row d-md-flex justify-content-md-center row" style="border-color: rgb(255,255,255);">
   				<div th:each="review:${storeDetail.review}">
					<form method="POST" action="/reviewDelete">
						<input type="hidden" name="storeCode" th:value="${storeDetail.storeCode}">
                    	<input type="hidden" name="reviewId" th:value="${review.reviewId}">
	                    <div class="col-9 col-md-10" style="width: 100%;">
	                           <!-- 댓글 작성자 -->
	                    	<h4 style="font-size: 22px;" th:text="${review.user.userId}">댓글 작성자
	                               <!-- 댓글 작성일 -->
	                    		<small class="font-monospace d-md-flex justify-content-md-end align-items-md-end small" style="font-size: 15px;" th:text="${reply.replyDate}">작성 날짜</small>
	                    	</h4>
	                           <!-- 댓글 내용 -->
	                    	<p style="font-size: 16px;" th:text="${review.reviewComment}">댓글 내용</p>

	                           	<div th:if="${session.user.userId == review.user.userId}">
	                               <span><button type="submit" name="delete">삭제</button></span>
	                           </div> 

	                    </div>
					</form>  
				</div>
           </div>
 	</div>
</div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- 푸터 페이지 불러오기 -->
	<footer th:replace="layout/footer :: footer"></footer>

	<!-- 스크립트 -->
	<script type="text/javascript"
		src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eb3950b2c101dc6b62f59a629977b969&libraries=services"></script>
	<script th:inline="javascript">
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		storeDetail = [[${storeDetail}]],
		position = new kakao.maps.LatLng(storeDetail.storeLatitude, storeDetail.storeLongitude)
		
		mapOption = {
			center : position, // 지도의 중심좌표
			level : 5
		// 지도의 확대 레벨
		};
		
		console.log(storeDetail.storeCode);
		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption);

		var imageSrc = 'mylocation.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
		imageSize = new kakao.maps.Size(20, 30), // 마커 이미지의 크기
		markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize),
		marker = new kakao.maps.Marker({
			position : position, // 마커의 위치
			image : markerImage
		});

		marker.setMap(map); // 지도 위에 마커를 표출합니다
	</script>
	<div th:replace="layout/script :: scriptFragment">
	<!-- 이 안에 개별적인 js 넣으면 됨. -->
	</div>
</body>

</html>