.test{
  font-size: 30px;
  color: blue;
}

.restaurant-picture-container{
  width: 100%;
  display: flex;
  min-width: 390px;
  margin: 0 auto;
  justify-content: space-between;
}
.img-box{
  margin: 0 auto;
}
.restaurant-picture{
  width: 45%;
  margin: 0 auto;
  display: block;
}