<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- css 파일 링크 -->
<head th:replace="css/css :: css">

<body>
	<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
	
	
	<!-- 헤더 페이지 불러오기 -->
	<div th:replace="/layout/header.html :: header"></div>
	
	<form class="search-form">
        <div class="input-group"><span class="input-group-text"><i class="fa fa-search"></i></span><input class="form-control" type="text" placeholder="I am looking for.."><button class="btn btn-light" type="button">Search </button></div>
    </form>
    <section class="article-list">

        <div class="container">
        
        	
        	
            <div class="row articles" >
            	<!-- 리스트 불러오기 반복문 -->
	            <th:block th:each="storeList : ${infoList}">
	            	<!-- 리스트 정보 표시 -->
	                <div class="col-sm-6 col-md-4 item">
	                	<a th:href="@{/detail (id=${storeList.value.storeCode})}">
	                	<img class="img-fluid" src="assets/img/desk.jpg"></a> 
	                	<h3 class="name" th:text="${storeList.value.storeName}">
	                	<a href="#"></a></h3>
						<div th:text="${storeList.key}" + '킬로미터 부근'></div>    	
	                    <div th:text="${storeList.value.storeCategory}"></div>
	                    <div th:text="${storeList.value.storeTag}"></div>
	                    <div th:text="${storeList.value.storeRoadAddr}"></div>
	                    <div th:text="${storeList.value.storeStaravg}"></div>
	                </div>
	                
	            </th:block>
	            
            </div>
            
            <!-- 
            <div id="pagination">
				<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
					<a th:if="${page != nowPage}" th:href="@{/storeList(page=${page-1})}" th:text="${page}"></a>
					<a th:if="${page == nowPage}" th:text="${page}"></a>
				</th:block>
			</div>
			 -->
        </div>
        
    </section>	

    <!-- 푸터 페이지 불러오기 -->
    <footer th:replace="/layout/footer.html :: footer"></footer>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>

	<script th:inline="javascript">
	
	var infoList = [[${infoList}]];
	console.log(infoList);
	
	$(document).ready(function(){
		// HTML5의 geolocation으로 사용할 수 있는지 확인합니다 
		if (navigator.geolocation) {
		    //GeoLocation을 이용해서 접속 위치를 얻어옵니다
		    navigator.geolocation.getCurrentPosition(function(position) { 
	        var lat = position.coords.latitude, // 위도
	            lon = position.coords.longitude; // 경도  
	            
	         // 위도, 경도를 Map<String, String> 형식으로 저장
        	var params = {
        			"lat" : lat,
        			"lon" : lon 
       		}
        	console.log(params.lat);
            console.log(params.lon);
            
        	$.ajax({
        		type: "get",   //get방식으로 명시
        		url : "/storeList",  //이동할 jsp 파일 주소
        		data : params
        	})
		});
		    
		} else { // HTML5의 GeoLocation을 사용할 수 없을때 마커 표시 위치와 인포윈도우 내용을 설정합니다
			alert("geolocation error");
		}	
    });
	
	
	</script>
</body>
</html>