
.nav-wrap{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.nav-wrap .logo-container{
  
  width: 40%;
  order: 2;
}

.nav-wrap .menu-container{
  width: 30%;
  order: 1;
}

.nav-wrap .search-container{
  width: 30%;
  order: 3;
}

@media (min-width:991px) {
  .nav-wrap > .logo-container{
    width: 15%;
    order: 1;
  }
  
  .nav-wrap > .menu-container{
    width: 52%;
    order: 2;
  }
  
  .nav-wrap > .search-container{
    width: 33%;
    order: 3;
  }
  .navbar-nav{
    white-space: nowrap;
  }
}