.signup-container{
  width: 80%;
  margin: 50px auto;
  text-align: center;
  min-width: 390px;
}

.signup-desc{
  margin: 50px auto;
}
.input-section{
  margin: 50px auto 0;
}
.signup-form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.input-box{
  margin: 30px auto 0;
}
.input-id-field{
  width: 80%;
}

.id-input-box{
  position: relative;
}
.check-id{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20%;
  white-space: nowrap;
  font-size: 17px;
}

.btn-box > button{
  width: 100px;
}

