<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="layout/head :: headFragment">
</head>

<th:block layout:fragment="customCss">
	<!-- 이 안에 개별적인 CSS 넣으면 됨. 타이틀도. -->
</th:block>


<body>
	<!-- 헤더 페이지 불러오기 -->
	<div th:replace="/layout/header.html :: header"></div>

	<!-- 회원가입 페이지 ======================================================== -->
	<div >
		<div >
			<h1>BREW MAP 회원가입</h1>
			<p>회원가입으로 더 많은 서비스를 즐길 수 있습니다.</p>
		</div>

		<!-- 회원가입 폼 ======================================================== -->
		<form action="/signUp2" method="POST" >

			<!-- 회원분류 ======================================================== -->
			<div>
				<label for="userCategory">회원분류</label> 
				<select name="userCategory">
					<option value="">회원등급 설정</option>
					<option value="user">유저</option>
					<option value="premiumUser">프리미엄유저</option>
				</select>	
			</div>

			<!-- 아이디 입력 ======================================================== -->
			<div class="input-box">
				<label for="userId">아이디</label> 
				<input type="text" name="userId">
			</div>

			<!-- 비밀번호 입력 ======================================================== -->
			<div class="input-box">
				<label for="userPw">비밀번호</label> 
				<input type="text" name="userPw">
			</div>

			<!-- 이름 입력 ======================================================== -->
			<div class="input-box">
				<label for="userName">이름</label> 
				<input type="text" name="userName">
			</div>

			<!-- 닉네임 입력 ======================================================== -->
			<div class="input-box">
				<label for="userNickName">닉네임</label>
				<input type="text" name="userNickName">
			</div>
			
			<!-- 생년월일 입력 ======================================================== -->
			<div class="input-box">
				<label for="userBirthDate">생년월일</label>
				<input type="text" name="userBirthDate">
			</div>

			<!-- 등급 입력 ======================================================== -->
			<div class="input-box">
				<label for="userGrade">등급</label> 
				<select name="userGrade">
					<option value="Bronze">브론즈</option>
					<option value="Silver">실버</option>
					<option value="Gold">골드</option>
				</select>	
			</div>

			<!-- 이메일 입력 ======================================================== -->
			<div class="input-box">
				<label for="userEmail">이메일</label> 
				<input type="text" name="userEmail"  placeholder="abcd@naver.com">
			</div>

			<!-- 전화번호 입력 ======================================================== -->
			<div class="input-box">
				<label for="userTel">전화번호</label>
				<input type="text" name="userTel">
			</div>

			<!-- 성별 입력 ======================================================== -->
			<div class="input-box">
				<select name="userGender">
					<option>성별</option>
					<option value="0">남</option>
					<option value="1">여</option>
				</select>
			</div>

			<!-- 회원가입 버튼 ======================================================== -->
			<button class="btn btn-primary form-btn" type="submit" >회원가입</button>
		</form>

	</div>

	<!-- 푸터 페이지 불러오기 -->
	<footer th:replace="/layout/footer.html :: footer"></footer>
</body>

</html>